* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: ibramox;
	src: url(../fonts/Roboto-Regular.ttf);
}
html, body, main {
	height: 100%;
	font-family: ibramox;

}
.first {
	height: 100%;
	background-image: url(../img/img1.jpg);
	background-position: center;
	background-size: cover;

}
.first p {
	color: #fff;
	
}
.tourism{
	width: 100%;
	text-align: center;
	padding-top: 90px; 
}
.text-container {
	width: 40%;
	margin-top: 15%;
	margin-left: 15%;
}
.first-line {
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px; 	/*межбуквенное расстояние*/
	line-height: 1;
	opacity: 0.6;
}

.second-line{
	text-transform: uppercase;
	font-size: 64px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 1.2;

}
.third-line {
	font-size: 17px;
	line-height: 1.6;
	opacity: 0.7;
}
.second {
	height: 100%;
	/*flex-direction  по умолчанию row,если написать column главным становится ось другая*/
	display: flex;
	justify-content: center;
	align-items: center;

}
.gallery-container {
	width: 60%;
	max-width: 1000px;
}
.img-container{
	width: 100%;
	display: flex;
	align-items: flex-start;  /*align-items: flex-start; нужен чтобы сжимать объекты,для отмены stratch */
}
img {
	display: block;
	max-width: 100%;
	height: auto;

}
.img1 {
	width: 55%;
}
.wrapper {
	margin-left: 20px;
}
.img2{
	margin-bottom: 15px;
}
.gallery-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}
.gallery-p {
	font-size: 18px;
	opacity: 0.8;
	width: 70%;
}
.gallery-header {
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 1;
}